<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="calculator_Imp.CalculatorTest"/>
      <class name="calculator_Test.CalculatorTest"/>
      <class name="calculator_Test.CalculatorTest23"/>
      <class name="calculator_Test.CalculatorTest56"/>
      <class name="calculator_Test.CalculatorTest55"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
